#calculator {
    grid-area: calculatorView;
    display: grid;
    grid-template-areas:
            "calculator output";
    grid-template-columns: auto auto;

}


#calculatorContainer {
    grid-area: calculator;
    display: grid;
    justify-content: center;
    gap: 4px;
    grid-template-areas:
            "input input input op"
            "nr nr nr op"
            "nr nr nr op"
            "nr nr nr op"
            "nr nr nr op";

    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    align-content: center;
    margin: 10px;



}

button {
    display: flex;
    border: black 2px solid;
    padding: 20px;
    justify-content: center;
    Background-color: darkseagreen;
    align-items: center;
    font-size: 200%;
    font-family: Copperplate, times, serif;
}

.number {
    color : white;
}


#input {
    grid-area: input;
    border: black 2px solid;
    text-align: right;
    font-size: 200%;
    font-family: Copperplate, times, serif;
    padding: 10px;
}

.option{
    padding: 20px;
    background-color: dimgray;
    color: gainsboro;
}

#point {
    padding: 5px;
    font-size: 40px;
}

#output {
    border: black 2px solid;
    margin: 10px;
    grid-area: output;
    width: 400px;

}